:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.ant-pagination .ant-pagination-jump-next:hover .ant-pagination-item-ellipsis,
.ant-pagination .ant-pagination-jump-prev:hover .ant-pagination-item-ellipsis {
  opacity: 1;
}
.ant-pagination .ant-pagination-jump-next:hover .ant-pagination-item-link-icon,
.ant-pagination .ant-pagination-jump-prev:hover .ant-pagination-item-link-icon {
  opacity: 0;
}
